:root{
    --mainColor: rgb(209, 132, 81);
    --accentColor: rgb(156, 99, 61);
}

body{
    margin: 0px;
    padding: 0px;
    font-family: Garamond, 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: rgb(243, 243, 243);
    
}

.header{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 20px;
    background: var(--mainColor);
    color: #ffffff;    
    font-size: 2.5rem;
    text-align: center;
    background-image: url(https://media.nbcchicago.com/2024/11/108065829-1732125771281-gettyimages-2179162881-dsc04327.jpeg?quality=85&strip=all&resize=1200%2C675);
    background-size: 200px;
    background-repeat: repeat;
    background-size: contain;
        text-shadow:
        1px 1px 3px #000000,
        -1px -1px 3px #000000,
        1px -1px 3px #000000,
        -1px 1px 3px #000000;
}

.body-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 1.5rem;
    background-color: rgb(243, 243, 243);

}

.input-container {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    width: 100%; 
    max-width: 400px; 
    margin-top: 0px; 
}

.input-box {
    padding: 12px 10px; 
    border-radius: 8px;
    border: 1px solid #ccc; 
    background-color: #fff; 
    color: #000000;
    width: 100%; 
    box-sizing: border-box; 
}

.input-box::placeholder
{
    color: #b6b6b6;
}

button {
    padding: 10px;
    border-radius: 8px;
    border: none; 
    background-color: var(--mainColor);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    width: 100%;
    box-sizing: border-box;
}

button.edit-button{
    background-color: transparent;
    padding: 0px;
    width: auto;
    color: var(--mainColor);
}

button.edit-button:hover{
    color: var(--accentColor);
    background-color: transparent;
}

button:hover {
    background-color: var(--accentColor)
}


@media (min-width: 600px) {
    .input-container {
        flex-direction: row; 
        align-items: center;
    }
    
    .input-container .input-box, 
    .input-container button {
        width: auto; 
        flex: 1; 
    }
    .table-container{
        width: 80%; 
    }
}



.table-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: left;
    margin-top: 10px;
    font-size: 1rem;
}

table{
    width: 100%;
    border-collapse: collapse;   
    table-layout: fixed; 
}

td{
    padding: 5px;
    overflow-wrap: anywhere;
}

th{
    padding: 5px;
    font-weight: bold;
    color: #ffffff;
    background-color: var(--mainColor);
    
}

tr{
    background-color: rgb(238, 238, 238);
}

tr:nth-child(even){
    background-color: transparent
}

td:last-child, th:last-child{
    text-align: right;
    padding: auto;
}


td:last-child button{
    margin-left: auto;
}

.transparent-input-box{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    width: 100%;
    padding: 2px;
    padding-left: 5px;
}

.transparent-input-box:disabled {
    background-color: transparent;
    border: none;
}

.chat-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: left;
    margin-top: 100px;
    font-size: 1rem;
}

.custom-row{
    padding-left: 10px;
}
